<!-- Map Container -->
<div class="contact-map margin-bottom-55">

  <!-- Google Maps -->
  <div class="google-map-container" ng-controller="map">
    <div id="propertyMap"></div>
    <!-- <a href="#" id="streetView">Street View</a> -->
  </div>
  <!-- Google Maps / End -->

  <!-- Office -->
  <div class="address-box-container">
    <div class="address-container" data-background-image="images/our-office.jpg">
      <div class="office-address">
        <h3>Nuestra Oficina</h3>
        <ul>
          <li>San Luis 145, 1° Oficina H</li>
          <li>Nueva Cordoba, Córdoba, Argentina</li>
          <li>Teléfono +54 9 351 2463530 </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Office / End -->

</div>
<div class="clearfix"></div>
<!-- Map Container / End -->


<!-- Container / Start -->
<div class="container">

  <div class="row">

    <!-- Contact Details -->
    <div class="col-md-4">

      <h4 class="headline margin-bottom-30">Encontranos aquí</h4>

      <!-- Contact Details -->
      <div class="sidebar-textbox">
        <p>Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services.</p>

        <ul class="contact-details">
          <li><i class="im im-icon-Phone-2"></i> <strong>Teléfono:</strong> <span>+54 9 351 2463530 </span></li>
          <!-- <li><i class="im im-icon-Fax"></i> <strong>Fax:</strong> <span>(123) 123-456 </span></li> -->
          <li><i class="im im-icon-Globe"></i> <strong>Web:</strong> <span><a href="#">www.duitpropiedades.com.ar</a></span></li>
          <li><i class="im im-icon-Envelope"></i> <strong>E-Mail:</strong> <span><a href="#">contacto@duitpropiedades.com.ar</a></span></li>
        </ul>
      </div>

    </div>

    <!-- Contact Form -->
    <div class="col-md-8">

      <section id="contact">
        <h4 class="headline margin-bottom-35">Dejanos tu mensaje</h4>

        <div id="contact-message"></div> 

          <form ng-controller="contactForm" id="contactform" autocomplete="on">

            <div class="row">
              <div class="col-md-6">
                <div>
                  <input name="name" type="text" ng-model="name" placeholder="Nombre" required="required" />
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <input name="email" type="email" ng-model="email" placeholder="Email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" required="required" />
                </div>
              </div>
            </div>

            <div>
              <input name="subject" type="text" ng-model="phone" placeholder="Teléfono" />
            </div>

            <div>
              <textarea name="message" cols="40" rows="3" ng-model="message" placeholder="Mensaje" spellcheck="true" required="required"></textarea>
            </div>
            <button class="button col-md-3" ng-click="send()">{{submitText}} <i class='fa fa-spinner fa-spin' ng-show="sending"></i></button>
            <div class="notification success closeable col-md-8" ng-show="success">
              <p>Tu consulta fue enviada con éxito.</p>
            </div>
            <div class="notification success closeable col-md-8" ng-show="error">
              <p>Ha ocurrido un error al intentar enviar tu consulta. Perdon por las molestias.</p>
            </div>
          </form>
      </section>
    </div>
    <!-- Contact Form / End -->

  </div>

</div>
<!-- Container / End