<section class="gallery-single-property" ng-class="{' open': isGalleryOpen}" ng-style="getSectionStyle()">
      
  <!-- Skeleton -->
  <div class="skeleton-container" ng-show="!showGallery && showSkeleton">
    <div class="skeleton-image"></div>
    <div class="skeleton-lines">
      <div ng-repeat="x in [].constructor(2) track by $index" class="skeleton-line"></div>            
    </div>
  </div>
  <!-- Skeleton End -->

  <!-- Video player -->
  <div ng-if="hasDuit360 && showDuit360">
    <iframe ng-src="{{item.video_url | trusted}}" class="video-player" allowFullScreen="true"> </iframe>
  </div>

  <!-- Arrows -->
  <div class="slider-arrows-container" ng-show="item.photos.length + item.videos.length > 1 && !showDuit360">
    <i class="fa fa-angle-left" ng-click="moveSlider('left')"></i>
    <i class="fa fa-angle-right" ng-click="moveSlider('right')"></i>
  </div>

  <!-- Slider Single Property -->
  <div class="gallery-single-property-slider" ng-show="showGallery && !showDuit360">
    <a href="{{item.hRef}}" ng-repeat="photo in item.photos"><img src="{{photo.image}}" ng-click="toggleGallery()"></a>
    <iframe ng-if="item.videos && !item.hRef" ng-repeat="video in item.videos" width="560" height="349" ng-src="{{video.player_url | trusted}}" frameborder="0" allowfullscreen></iframe>
  </div>  
  
  <!-- Widgets -->
  <div class="silder-widgets-container" ng-show="showWidgets && showGallery" ng-style="{'flex-direction': hasDuit360 && !isGalleryOpen ? 'row' : 'row-reverse'}"> 

    <div class="gallery-switcher-container" ng-if="hasDuit360 && !isGalleryOpen">
      <button ng-click="toggleDuit360()" ng-class="{'active': !showDuit360}">Ver Galería<i class="fas fa-images"></i></button>
      <button ng-click="toggleDuit360()" ng-class="{'active': showDuit360}">Ver Duit 360º<i class="fas fa-street-view"></i></button>
    </div>

    <div class="slider-photo-counter" ng-show="!showDuit360">
      <i class="fa fa-camera"></i>
      <p>{{currentIndex}}/{{galleryCounter}}</p>
    </div>
    
  </div>  
  <!-- Widgets End --> 

  <!-- Close Gallery Button -->
  <i class="fa fa-times" ng-click="toggleGallery()" ng-show="isGalleryOpen"></i>  
  
</section>

<div class="gallery-single-property-modal-background" ng-click="toggleGallery()" ng-class="{' open': isGalleryOpen}"></div> 