<!-- Desktop Property Detail -->
<div ng-controller="property" class="hidden-on-mobile">
<div class='spinner' ng-include="'/views/common/spinner.html'" ng-hide="apiReady"></div>
<div id="titlebar" class="property-titlebar margin-bottom-0" ng-show="apiReady">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <a onclick="window.history.back()" class="back-to-listings"></a>
        <div class="property-title">
          <h2>{{p.prop.publication_title}} <span class="property-badge">{{p.operation_type}}</span></h2>
          <span>
            <a href="#location" class="listing-address">
              <i class="fa fa-map-marker"></i>
              {{p.prop.address}}
            </a>
          </span>
        </div>
        <div class="property-pricing">
          <div ng-show="p.prop.web_price">{{ p.price | currency:p.currency:0}}</div>
          <div class="sub-price">ID: {{p.prop.reference_code}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Slider -->
<div class="fullwidth-property-slider margin-bottom-50 hidden-on-desktop" ng-show="apiReady">
  <img ng-repeat="i in p.prop.photos" src="{{i.image}}" class="margin-right-10">
</div>
<div class="margin-bottom-50 hidden-on-mobile">
  <!-- Slider Container -->
  <div class="property-slider-container">
    <!-- Agent Widget -->
      <!-- <div class="agent-widget" ng-controller="propContactForm">
        <div class="agent-title">
          <div class="agent-photo"><img src="{{p.prop.producer.picture}}" alt="" /></div>
          <div class="agent-details">
            <h4>{{p.prop.producer.name}}</h4>
            <span><i class="sl sl-icon-call-in"></i>{{p.prop.producer.phone}}</span>
          </div>
          <div class="clearfix"></div>
        </div>
        <input type="text" placeholder="Tu Email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" ng-model="email">
        <input type="text" placeholder="Tu Teléfono" ng-model="phone">
        <textarea ng-model="message"></textarea>
        <div class="notification success closeable col-md-12" ng-show="success">
          <p>Mensaje enviado con éxito.</p>
        </div>
        <button class="button fullwidth margin-top-5" ng-click="send()">{{submitText}} <i class='fa fa-spinner fa-spin' ng-show="sending"></i></button>
      </div> -->
      <!-- Agent Widget / End -->
    <!-- Slider -->
    <div class="property-slider no-arrows">
      <a  data-background-image="{{p.cover_photo_original}}" class="item"></a>
      <!-- Slider Thumbs -->
      <ul class="proerty-gallery-thumbs-container" ng-if="p.prop.photos.length <= 4">
        <li class="property-gallery-thumb" ng-repeat="i in p.prop.photos">
          <a href="{{i.original}}" class="item mfp-gallery">
            <img src="{{i.thumb}}" alt="">
          </a>
        </li>
      </ul>
      <ul class="proerty-gallery-thumbs-container" ng-if="p.prop.photos.length > 4">
        <li class="property-gallery-thumb">
          <a href="{{p.prop.photos[0].original}}" class="item mfp-gallery">
            <img src="{{p.prop.photos[0].thumb}}" alt="">
          </a>
        </li>
        <li class="property-gallery-thumb">
          <a href="{{p.prop.photos[1].original}}" class="item mfp-gallery">
            <img src="{{p.prop.photos[1].thumb}}" alt="">
          </a>
        </li>
        <li class="property-gallery-thumb">
          <a href="{{p.prop.photos[2].original}}" class="item mfp-gallery">
            <img src="{{p.prop.photos[2].thumb}}" alt="">
          </a>
        </li>
        <li class="property-gallery-thumb more">
          <a href="{{p.prop.photos[3].original}}" class="item mfp-gallery">
            <span ><i class="fa fa-plus"></i> {{p.prop.photos.length - 3}}</span>
          </a>
        </li>
        <li class="property-gallery-thumb hidden" ng-repeat="i in p.prop.photos | limitTo: (4 - p.prop.photos.length)">
          <a href="{{i.original}}" class="item mfp-gallery">
            <img src="{{i.thumb}}" alt="">
          </a>
        </li>
      </ul>
    </div>
    <!-- Slider / End -->
    <!-- Slider Container / End -->
  </div>
</div>
<div class="container" ng-show="apiReady">
  <div class="row">
    <!-- Property Description -->
    <div class="col-lg-8 col-md-7">
      <div class="property-description">
        <!-- Main Features -->
        <ul class="property-main-features">
          <li>Superficie <span>{{p.area}} M2</span></li>
          <li>Habitaciones <span>{{p.rooms}}</span></li>
          <li>Baños <span>{{p.baths}}</span></li>
          <li>Cocheras <span>{{p.parkings}}</span></li>
        </ul>
        <!-- Features -->
        <h3 class="desc-headline">Características</h3>
        <ul class="property-features checkboxes margin-top-0">
          <li ng-repeat="tag in p.prop.tags">{{tag.name}}</li>
        </ul>
        <!-- Location -->
        <h3 class="desc-headline no-border" id="location">Ubicación</h3>
        <div id="propertyMap-container">
          <div id="propertyMap"></div>
          <!-- <a href="#" id="streetView">Street View</a> -->
        </div>
        <!-- Description -->
        <h3 class="desc-headline">Descripción</h3>
        <div class="show-more">
          <pre>{{p.prop.description}}</pre>
          <a href="#" class="show-more-button" ng-click="toggleDescriptionDetailDesktop()">Mostrar Más <i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    <!-- Property Description / End -->
    <!-- Sidebar -->
    <div class="col-lg-4 col-md-5">
      <div class="sidebar sticky right">
        <!-- Widget -->
        <div class="widget margin-bottom-30">
          <button class="widget-button"><i class="sl sl-icon-printer"></i> Imprimir</button>
          <!-- <button class="widget-button save" data-save-title="Save" data-saved-title="Saved"><span class="like-icon"></span></button> -->
        </div>
        <!-- Widget / End -->
        <!-- Widget -->
        <div class="widget" ng-controller="propContactForm">
          <!-- Agent Widget -->
          <div class="agent-widget">
            <div class="agent-title">
              <div class="agent-photo"><img src="{{p.prop.producer.picture}}" alt="" /></div>
              <div class="agent-details">
                <h4>{{p.prop.producer.name}}</h4>
                <span ng-show="showContactForm"><i class="sl sl-icon-call-in"></i>{{p.prop.producer.phone}}</span>
                <a href="" ng-hide="showContactForm" ng-click="showContactForm = !showContactForm">Contactar</a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div ng-show="showContactForm" class="margin-top-30">
              <input type="text" placeholder="Tu Email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" ng-model="email">
              <input type="text" placeholder="Tu Teléfono" ng-model="phone">
              <textarea ng-model="message"></textarea>
              <div class="notification success closeable col-md-12" ng-show="success">
                <p>Mensaje enviado con éxito.</p>
              </div>
              <button class="button fullwidth margin-top-5" ng-click="send()">{{submitText}} <i class='fa fa-spinner fa-spin' ng-show="sending"></i></button>
            </div>
          </div>
          <!-- Agent Widget / End -->
        </div>
        <!-- Widget / End -->
        <div class="widget">
          <h3 class="margin-bottom-35">Destacados</h3>
          <div class='spinner' ng-include="'/views/common/spinner.html'" ng-hide="featReady"></div>
          <div class="listing-carousel outer" ng-show="apiReady">
            <!-- Item -->
            <div class="item" ng-repeat="p in featured">
              <div class="listing-item compact">
                <a ui-sref="property({propertyId: p.id})" class="listing-img-container">
                  <div class="listing-badges">
                    <span class="featured">Destacado</span>
                    <span>{{p.type}}</span>
                  </div>
                  <div class="listing-img-content">
                    <span class="listing-compact-title">{{p.prop.publication_title}} <i ng-show="p.prop.web_price">{{ p.price | currency:p.currency:0}}</i></span>
                    <ul class="listing-hidden-content">
                      <li>Superficie <span>{{p.area}} M2</span></li>
                      <li><i class="fa fa-bed"></i> <span>{{p.prop.suite_amount}}</span></li>
                      <li><i class="fa fa-bathtub"></i> <span>{{p.prop.bathroom_amount}}</span></li>
                      <li><i class="fa fa-car"></i> <span>{{p.parkings}}</span></li>
                    </ul>
                  </div>
                  <img src="{{p.cover_photo}}" alt="">
                </a>
              </div>
            </div>
            <!-- Item / End -->
          </div>
        </div>

      </div>
    </div>
    <!-- Sidebar / End -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- Similar Listings Container -->
      <h3 class="desc-headline no-border margin-bottom-35 margin-top-60">Propiedades Similares</h3>
      <!-- Layout Switcher -->
      <div class="layout-switcher hidden"><a href="#" class="list"><i class="fa fa-th-list"></i></a></div>
      <div class="listings-container list-layout">
      <div class='spinner' ng-include="'/views/common/spinner.html'" ng-hide="simReady"></div>
        <!-- Listing Item -->
        <div class="listing-item" ng-repeat="p in similar">
          <a ui-sref="property({propertyId: p.id})" class="listing-img-container">
            <div class="listing-badges">
              <span>{{p.type}}</span>
            </div>
            <div class="listing-img-content">
              <span class="listing-price" ng-show="p.prop.web_price">{{ p.price | currency:p.currency:0}}</span>
              <span class="like-icon"></span>
            </div>
            <img src="{{p.cover_photo}}" alt="">
          </a>
          <div class="listing-content">
            <div class="listing-title">
              <h4><a ui-sref="property({propertyId: p.id})">{{p.prop.publication_title}}</a></h4>
              <a ui-sref="property({propertyId: p.id})">
                <i class="fa fa-map-marker"></i>
                {{p.prop.address}}
              </a>
              <a ui-sref="property({propertyId: p.id})" class="details button border">Detalles</a>
            </div>
            <ul class="listing-details">
              <li>{{p.area}} M2</li>
              <li><i class="fa fa-bed"></i> <span>{{p.prop.suite_amount}}</span></li>
              <li><i class="fa fa-bathtub"></i> <span>{{p.prop.bathroom_amount}}</span></li>
              <li><i class="fa fa-car"></i> <span>{{p.parkings}}</span></li>
            </ul>
            <div class="listing-footer">
              <a ui-sref="property({propertyId: p.id})"><i class="fa fa-user"></i> {{p.prop.producer.name}}</a>
              <!-- <span><i class="fa fa-calendar-o"></i> 4 days ago</span> -->
            </div>
          </div>
          <!-- Listing Item / End -->
        </div>
        <!-- Listing Item / End -->
      </div>
      <!-- Similar Listings Container / End -->
    </div>
  </div>
</div>
</div>
<!-- Desktop Property Detail End -->

<!-- Mobile Property Detail -->
<div id="mobile-prop-detail" ng-controller="property" class="hidden-on-desktop">
  
  <!-- Skeleton Loader -->
  <div class="skeleton-container" ng-show="!apiReady">
    <div class="skeleton-image"></div>
    <div class="skeleton-lines">
      <div ng-repeat="x in [].constructor(2) track by $index" class="skeleton-line"></div>            
    </div>
    <div class="skeleton-circles">
      <div ng-repeat="x in [].constructor(4) track by $index" class="skeleton-circle"></div>     
    </div>
  </div>
  <!-- Skeleton Loader End -->
  
  <div ng-show="apiReady">
    
    <!-- Gallery Slider  -->
    <section id="mobile-property-gallery-slider" class="mobile-property-gallery-slider" ng-class="{' open': isGalleryOpen}">
      
      <!-- Arrows -->
      <div class="slider-arrows-container">
        <i class="fa fa-angle-left"
          data-side="left"
          ng-click="moveSlider($event.target.offsetParent.nextElementSibling, p.prop.photos.length, 'currentPhoto', $event.target.dataset.side, $event.target.offsetParent.nextElementSibling.children[0].offsetWidth)">
        </i>
        <i class="fa fa-angle-right"
          data-side="right"
          ng-click="moveSlider($event.target.offsetParent.nextElementSibling, p.prop.photos.length, 'currentPhoto', $event.target.dataset.side, $event.target.offsetParent.nextElementSibling.children[0].offsetWidth)">
        </i>
      </div>

      <!-- Slider -->
      <div class="mobile-property-slider">
        <img ng-repeat="i in p.prop.photos" src="{{i.image}}">
      </div>      
      
      <!-- Widgets -->
      <div class="mobile-silder-widgets-container">      
        <div class="mobile-slider-open-gallery" ng-click="toggleGallery()">
          <i class="fa fa-expand-arrows-alt" ng-show="!isGalleryOpen"></i>
          <p ng-show="!isGalleryOpen">Galería</p>
        </div>
        <div class="mobile-slider-photo-counter">
          <i class="fa fa-camera"></i>
          <p>{{sliderCounters.currentPhoto}}/{{p.prop.photos.length}}</p>
        </div>
      </div>   

      <!-- Close Gallery -->
      <i class="fa fa-times" ng-click="toggleGallery()" ng-show="isGalleryOpen"></i>  
    
    </section>

    <div class="mobile-modal-background" ng-click="toggleGallery()" ng-class="{' open': isGalleryOpen}"></div>    
    <!-- Gallery Slider End -->

    <!-- Subtitle -->
    <section class="mobile-property-subtitle">
      <div class="mobile-property-subtitle-text">
        <p><strong>{{p.prop.type.name}} - {{p.area | number:0}}m<sup>2</sup> - {{p.enviroments}} Ambientes</strong></p>
        <p><strong>{{p.prop.address}}</strong>, {{p.prop.location.name}}, {{p.state}}</p>
      </div>      
    </section>    
    <!-- Subtitle End -->
    
    <!-- Type Card -->
    <section class="mobile-property-type-card">
      <h4>{{p.operation_type}}</h4>
      <h4>{{ p.price | currency:p.currency:0}}</h4>
    </section>
    <!-- Type Card End -->
    
    <!-- Published Days -->
    <section class="mobile-property-created-at">
      <i class="fa fa-clock-o"></i>
      <p>&nbsp;Publicado hace {{getDaysDifference(p.prop.created_at)}} días</p>
    </section>
    <!-- Published Days End -->
    
    <!-- Property Title -->
    <h4 class="mobile-property-title">{{p.prop.publication_title}}</h4>
    
    <!-- Features Icons -->
    <section class="mobile-property-features-items">
      <div class="mobile-property-feature-item" ng-repeat="item in featuresItems" ng-show="item.isVisible">
        <div class="feature-item-container"><i class="{{item.icon}}"></i></div>
        <p><strong>{{item.value}}</strong></p>
        <p>{{item.name}}</p>
      </div>                    
    </section>
    <!-- Features Icons End -->

    <hr style="margin-top: 0px;">

    <!-- Description -->
    <section class="mobile-property-description">      
      <h3 class="desc-headline">Descripción</h3>
      <div class="description-detail">
        <pre>{{p.prop.description.trim()}}</pre>        
      </div>
      <div class="description-detail-button-container" ng-click="toggleDescriptionDetail()">
        <p><i class="fa fa-angle-down"></i></p>
      </div>
    </section>
    <!-- Description End -->

    <hr>

    <!-- General Features --> 
    <section class="mobile-property-general-features">
      <h3 class="desc-headline">Características Generales</h3>
      <ul>
        <li ng-repeat="tag in p.prop.tags">{{tag.name}}</li>
      </ul>
      <div class="description-detail-button-container" ng-click="toggleGeneralFeatures()" ng-show="p.prop.tags.length > generalFeaturesToShow">
        <p><i class="fa fa-angle-down"></i></p>
      </div>
    </section>  
    <!-- General Features End --> 

    <hr>

    <!-- Location -->
    <section class="mobile-property-location">    
      <h3 class="desc-headline no-border" id="location">Ubicación</h3>
      <div id="property-map-container">
        <div id="mobile-property-map"></div>
        <!-- <a href="#" id="streetView">Street View</a> -->
      </div> 
    </section>
    <!-- Location End -->
    
    <!-- Contact Modal -->
    <contact-globe is-open="isContactModalOpen" main-img="p.prop.producer.picture" open-icon="contactGlobeOpenIcon" 
      close-icon="contactGlobeCloseIcon" title="p.prop.producer.name" actions="contactGlobeActions" toggle-modal="toggleContactModal()">
    </contact-globe>
    <!-- Contact Modal End -->

  </section>

  <!-- Featured Props -->
  <section class="mobile-property-recomended margin-top-10">  
    <h3>Te aconsejamos est{{featured.length == 1 ? 'e' : 'os'}} departamento{{featured.length == 1 ? '' : 's'}}</h3>    
    
    <!-- Arrows -->
    <div class="slider-arrows-container">
      <i class="fa fa-angle-left" 
        data-side="left"
        ng-click="moveSlider($event.target.offsetParent.nextElementSibling, featured.length, 'currentFeatured', $event.target.dataset.side, $event.target.offsetParent.nextElementSibling.children[4].offsetWidth)"
        ng-show="featReady && featured.length > 1">
      </i>  
      <i class="fa fa-angle-right"
        data-side="right"
        ng-click="moveSlider($event.target.offsetParent.nextElementSibling, featured.length, 'currentFeatured', $event.target.dataset.side, $event.target.offsetParent.nextElementSibling.children[4].offsetWidth)"
        ng-show="featReady && featured.length > 1">
      </i>
    </div>  

    <!-- Slider -->
    <div id="mobile-property-featured-slider" class="mobile-property-slider">
                
      <!-- Skeleton Loader -->
      <div ng-repeat="x in [].constructor(3) track by $index" ng-show="!featReady">
        <div class="skeleton-container">
          <div class="skeleton-image"></div>
          <div class="skeleton-lines">
            <div class="skeleton-line" ng-repeat="x in [].constructor(2) track by $index" ></div>                
          </div>
        </div>
      </div>
      <!-- Skeleton Loader End-->      
      
      <!-- Items -->
      <div class="mobile-property-recomended-emtpy-item" ng-show="featReady">&nbsp;</div>
      
      <div class="mobile-property-recomended-item" ng-repeat="item in featured track by $index" ng-class="{'active': $index + 1 == sliderCounters.currentFeatured}" ng-show="featReady">
        <a ui-sref="property({propertyId: item.id})"><img src="{{item.cover_photo}}" alt=""></a>
        <div class="recomended-item-description-container">
          <h4><strong>{{ item.price | currency:item.currency:0}}</strong></h4>
          <p>{{item.area |number:0}}m<sup>2</sup>totales</p>
          <p>
            {{item.prop.suite_amount > 1 ? item.prop.suite_amount + ' dormitorios' : item.prop.suite_amount + ' dormitorio'}} |
            {{item.prop.bathroom_amount > 1 ? item.prop.bathroom_amount + ' baños' : item.prop.bathroom_amount + ' baño'}}
          </p>          
          <p>{{item.prop.publication_title}}</p>
        </div>         
      </div>

      <div class="mobile-property-recomended-emtpy-item">&nbsp;</div>
      <!-- Items End -->      
            
    </div>

  </section>
  <!-- Featured Props End -->

  <!-- Similar Props -->
  <section class="mobile-property-recomended">  
    <h3>Puede{{similar.lenght > 1 ? 'n' : ''}} intersarte</h3>    
    
    <!-- Arrows -->
    <div class="slider-arrows-container">
      <i class="fa fa-angle-left"
        data-side="left"
        ng-click="moveSlider($event.target.offsetParent.nextElementSibling, similar.length, 'currentSimilar', $event.target.dataset.side, $event.target.offsetParent.nextElementSibling.children[4].offsetWidth)"
        ng-show="simReady && similar.length > 1">
      </i> 
      <i class="fa fa-angle-right"
        data-side="right"
        ng-click="moveSlider($event.target.offsetParent.nextElementSibling, similar.length, 'currentSimilar', $event.target.dataset.side, $event.target.offsetParent.nextElementSibling.children[4].offsetWidth)"
        ng-show="simReady && similar.length > 1">
      </i>
    </div>

    <!-- Slider -->
    <div id="mobile-property-similar-slider" class="mobile-property-slider">
            
      <!-- Skeleton Loader -->
      <div ng-repeat="x in [].constructor(3) track by $index" ng-show="!simReady">
        <div class="skeleton-container">
          <div class="skeleton-image"></div>
          <div class="skeleton-lines">
            <div class="skeleton-line" ng-repeat="x in [].constructor(2) track by $index"></div>            
          </div>
        </div>
      </div>
      <!-- Skeleton Loader End-->       
      
      <!-- Items -->     
      <div class="mobile-property-recomended-emtpy-item" ng-show="simReady">&nbsp;</div>

      <div class="mobile-property-recomended-item" ng-repeat="item in similar track by $index" ng-class="{'active': $index + 1 == sliderCounters.currentSimilar}" ng-show="simReady">
        <a ui-sref="property({propertyId: item.id})"><img src="{{item.cover_photo}}" alt=""></a>
        <div class="recomended-item-description-container">
          <h4><strong>{{ item.price | currency:item.currency:0}}</strong></h4>
          <p>{{item.area |number:0}}m<sup>2</sup>totales</p>
          <p>
            {{item.prop.suite_amount > 1 ? item.prop.suite_amount + ' dormitorios' : item.prop.suite_amount + ' dormitorio'}} |
            {{item.prop.bathroom_amount > 1 ? item.prop.bathroom_amount + ' baños' : item.prop.bathroom_amount + ' baño'}}
          </p>          
          <p>{{item.prop.publication_title}}</p>
        </div>         
      </div>

      <div class="mobile-property-recomended-emtpy-item">&nbsp;</div>
      <!-- Items End -->            
            
    </div>

  </section>
  <!-- Similar Props End -->

</div>  
<!-- Mobile Property Detail End -->
