#mobile-prop-detail hr {
	width: 95%;
	margin: 20px auto;
}

#mobile-prop-detail .mobile-property-description-container {
	display: flex;
	flex-direction: column;
}

#mobile-prop-detail .mobile-property-subtitle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 80px;
	width: 100%;
	padding: 5px 15px;
	align-items: flex-start;
}

#mobile-prop-detail .mobile-property-subtitle-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	line-height: 22px;
}

#mobile-prop-detail .mobile-property-subtitle-text p {
	font-size: 13px;
	color: black;
	margin: 0px;
}

#mobile-prop-detail .mobile-property-modal-content {
	display: flex;
	flex-direction: column;
	min-width: 110px;
	align-items: center;
}

#mobile-prop-detail .mobile-property-modal-icons {
	display: flex;
	align-items: center;
	width: 100%;
}

#mobile-prop-detail .mobile-property-modal-icons > a {
	flex: 1 1;
	display: flex;
	justify-content: center;
}

#mobile-prop-detail .mobile-property-modal-icons a:first-child {
	border-right: 1px solid lightgray;
}

#mobile-prop-detail .mobile-property-type-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: calc(100% - 20px);
	margin: 5px 10px 25px 10px;
	padding: 5px 10px;
	box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

#mobile-prop-detail .mobile-property-type-card h4 {
	font-weight: bold;
}

#mobile-prop-detail .go-to-development-section {
	display: flex;
	text-align: center;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
	font-size: 14px;
	font-weight: bold;
	color: grey;
}

#mobile-prop-detail .mobile-property-title {
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
}

#mobile-prop-detail .mobile-property-features-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
	padding: 10px;
}

#mobile-prop-detail .mobile-property-features-items .mobile-property-feature-item {
	display: flex;
	flex-direction: column;
	flex: 0 0 25%;
	line-height: normal;
	text-align: center;
	align-items: center;
	margin-bottom: 25px;
}

#mobile-prop-detail .mobile-property-features-items .mobile-property-feature-item p {
	margin: 3px 0px;
	font-size: 12px;
}

#mobile-prop-detail .mobile-property-features-items .mobile-property-feature-item .feature-item-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--softgrey);
	width: 40px;
	height: 40px;
	margin-bottom: 5px;
}

#mobile-prop-detail .mobile-property-description {
	width: 100%;
	padding: 10px;
}

#mobile-prop-detail h3 {
	font-size: 20px;
	margin: 0px;
	line-height: 35px;
}

#mobile-prop-detail .description-detail {
	max-height: 240px;
	overflow: hidden;
	position: relative;
	transition: max-height 0.7s;
}

#mobile-prop-detail .description-detail:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: block;
	background: linear-gradient(rgba(255, 255, 255, 0), #fff 50%);
	z-index: 9;
	opacity: 1;
	visibility: visible;
	transition: all 0.5s;
}

#mobile-prop-detail .description-detail.visible:after {
	opacity: 0;
	visibility: hidden;
}

#mobile-prop-detail .description-detail-button-container {
	width: fit-content;
	margin: auto;
	cursor: pointer;
	color: var(--primary-red);
}

#mobile-prop-detail .description-detail-button-container p {
	display: flex;
	width: 120px;
	justify-content: space-between;
	align-items: center;
	margin: 0px;
}

#mobile-prop-detail .description-detail-button-container p::before {
	content: 'Mostrar más ';
}

#mobile-prop-detail .description-detail.visible + .description-detail-button-container p::before {
	content: 'Mostrar menos ';
}

#mobile-prop-detail .description-detail-button-container i {
	transition: all 0.5s ease;
}

#mobile-prop-detail .description-detail.visible + .description-detail-button-container i {
	transform: rotateX(180deg);
}

#mobile-prop-detail .mobile-property-general-features {
	width: 100%;
	padding: 10px;
}

#mobile-prop-detail .mobile-property-general-features ul {
	list-style: none;
	width: 90%;
	max-height: 200px;
	overflow: hidden;
	transition: max-height 0.5s;
}

#mobile-prop-detail .mobile-property-general-features ul li {
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
}

#mobile-prop-detail .mobile-property-general-features p::before {
	content: 'Mostrar más ';
}

#mobile-prop-detail .mobile-property-general-features ul.open + .description-detail-button-container p::before {
	content: 'Mostrar menos ';
}

#mobile-prop-detail .mobile-property-general-features i {
	transition: all 0.5s ease;
}

#mobile-prop-detail .mobile-property-general-features ul.open + .description-detail-button-container i {
	transform: rotateX(180deg);
}

#mobile-prop-detail .mobile-property-general-features ul li:nth-child(even) {
	background-color: var(--softgrey);
}

#mobile-prop-detail .mobile-property-location {
	width: 100%;
	padding: 10px;
}

#property-map-container {
	height: auto;
	position: relative;
	padding-top: 5px;
	display: block;
}

#mobile-property-map {
	height: 400px;
	border-radius: 3px;
}

#mobile-prop-detail .mobile-property-featured {
	width: 100vw;
	background-color: var(--softgrey);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-bottom: 35px;
	margin-top: 10px;
}

#mobile-prop-detail .mobile-property-featured > h3 {
	color: var(--primary-red);
	font-size: 16px;
	padding: 15px;
	line-height: normal;
}

#mobile-prop-detail > .skeleton-container {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	transform: scale(0.9);
}

#mobile-prop-detail > .skeleton-container > .skeleton-image {
	height: 40vh;
	background-color: var(--softgrey);
	background-image: linear-gradient(90deg, var(--softgrey) 0px, rgba(229, 229, 229, 0.8) 40px, var(--softgrey) 80px);
	background-size: 200vw;
	animation: shine-skeleton 2s infinite ease-out;
	margin-bottom: 15px;
}

#mobile-prop-detail > .skeleton-container > .skeleton-lines {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#mobile-prop-detail > .skeleton-container > .skeleton-lines > .skeleton-line {
	height: 4rem;
	width: 100%;
	background-color: var(--softgrey);
	margin: 15px;
	background-image: linear-gradient(90deg, var(--softgrey) 0px, rgba(229, 229, 229, 0.8) 40px, var(--softgrey) 80px);
	background-size: 200vw;
	animation: shine-skeleton 2s infinite ease-out;
}

#mobile-prop-detail > .skeleton-container > .skeleton-circles {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 70px;
	margin-top: 15px;
}

#mobile-prop-detail > .skeleton-container > .skeleton-circles > .skeleton-circle {
	flex: 0 0 70px;
	background-color: var(--softgrey);
	border-radius: 50%;
	background-image: linear-gradient(90deg, var(--softgrey) 0px, rgba(229, 229, 229, 0.8) 40px, var(--softgrey) 80px);
	background-size: 100vw;
	animation: shine-circles 2s infinite ease-out;
}

@keyframes shine-skeleton {
	0% {
		background-position: -10px;
	}
	50%,
	100% {
		background-position: 100vw;
	}
}

@keyframes shine-circles {
	0% {
		background-position: -100px;
	}
	90%,
	100% {
		background-position: 80vw;
	}
}

.desktop-prop-detail-main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1500px;
	margin: auto;
	border-radius: 10px;
	background-color: white;
	margin: 20px auto;
	width: 95%;
}

.desktop-prop-detail-left-panel {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: var(--softgrey);
	padding: 30px;
	border-radius: 10px;
}

.desktop-prop-detail-left-panel hr {
	border: 1px solid grey !important;
	width: 98%;
	margin: 30px auto;
}

.desktop-prop-detail-left-panel > img {
	margin: auto;
	height: 50vh;
	border-radius: 5px;
	object-fit: cover;
	cursor: pointer;
}

.desktop-prop-detail-left-panel .slider-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktop-prop-detail-left-panel .thumb-gallery-slider {
	width: 100%;
	overflow: hidden;
	flex-wrap: nowrap;
	display: flex;
	align-items: center;
	scroll-behavior: smooth;
	margin: 10px 0;
}

.desktop-prop-detail-left-panel .gallery-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktop-prop-detail-left-panel .gallery-container .slider-arrows-container {
	z-index: 13;
	width: 90%;
}

.desktop-prop-detail-left-panel .gallery-slider {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: 100%;
	overflow: hidden;
	flex-wrap: nowrap;
	display: flex;
	align-items: center;
	scroll-behavior: smooth;
	z-index: 12;
	pointer-events: none;
}

.desktop-prop-detail-left-panel .gallery-slider div {
	width: 100%;
	height: 100%;
	flex: 0 0 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktop-prop-detail-left-panel .gallery-slider img {
	pointer-events: all;
	max-width: 90%;
	max-height: 80%;
	width: 80%;
	height: 90%;
	object-fit: contain;
}

.desktop-prop-detail-left-panel .slider-arrows-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 3;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	margin: auto;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.desktop-prop-detail-left-panel .slider-arrows-container i {
	pointer-events: all;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: white;
	cursor: pointer;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 50%;
}

.desktop-prop-detail-left-panel .thumb-gallery-slider img {
	flex: 0 0 160px;
	width: 160px;
	height: 130px;
	border-radius: 5px;
	margin-right: 8px;
	cursor: pointer;
	object-fit: cover;
}

.desktop-prop-detail-features-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.desktop-prop-detail-features-container div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 5px;
	background-color: #e7e7e7;
	border-radius: 5px;
	min-width: 100px;
	height: 65px;
}

.desktop-prop-detail-features-container > div {
	min-width: 160px;
}

.desktop-prop-detail-features-container div * {
	margin: 0;
}

.desktop-prop-detail-features-container i {
	font-size: 22px;
	background-color: var(--softgrey);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
}

.desktop-prop-detail-features-container div div {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
}

.desktop-prop-detail-general-features-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.desktop-prop-detail-general-features-container p {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 5px 10px;
	background-color: #e7e7e7;
	border-radius: 5px;
	width: fit-content;
	margin: 5px;
}

.desktop-prop-detail-general-features-container p i {
	font-size: 18px;
	margin-right: 7px;
	color: var(--soft-red);
}

.desktop-prop-detail-left-panel .collapsable-features {
	position: relative;
	border-radius: 5px;
	padding: 15px;
	max-height: 150px;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
}

.desktop-show-more {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 30px;
	width: 120px;
	margin: auto;
	cursor: pointer;
	font-size: 17px;	
}

.desktop-show-more i {
	transition: all 0.5s ease-in-out;
	font-size: 19px;
	font-weight: bold;
}

.collapsable-title.visible + pre + .desktop-show-more i {
	transform: rotateZ(-180deg);	
}

.collapsable-features.visible + .desktop-show-more i {
	transform: rotateZ(-180deg);	
}

.desktop-show-more span:after {
	content:'Ver más';
	color: var(--primary-red);
}

.collapsable-title.visible + pre + .desktop-show-more span:after {
	content: 'Ver menos';
}

.collapsable-features.visible + .desktop-show-more span:after {
	content: 'Ver menos';
}

.desktop-prop-detail-left-panel pre {
	position: relative;
	background-color: #e7e7e7;
	border-radius: 5px;
	padding: 15px;
	max-height: 150px;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
}

.desktop-prop-detail-left-panel .collapsable-title + pre:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	display: block;
	background: linear-gradient(#e7e7e7, var(--softgrey) 88%);
	z-index: 2;
	opacity: 1;
	visibility: visible;
	transition: all 0.5s;
}

.desktop-prop-detail-left-panel .collapsable-title.visible + pre:after {
	visibility: hidden;
	opacity: 0;
}

.desktop-prop-detail-right-panel {
	margin-left: -15px;
	max-width: 440px;
	margin-top: 30px;
}

.desktop-prop-detail-right-panel > div {
	box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: white;
}

.desktop-prop-detail-right-panel #propertyMap-container {
	width: 100%;
	margin-top: 250px;
	padding: 0;
	z-index: 2;
}

.desktop-prop-detail-info-container,
.desktop-prop-detail-contact-container {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.desktop-prop-detail-info-container * {
	margin: 0;
}

.desktop-prop-detail-info-container h3 {
	font-size: 22px;
	font-weight: bold;
}

.desktop-prop-detail-info-container > p {
	font-size: 18px;
}

.desktop-info-features {
	margin-top: 15px;
	display: flex;
}

.desktop-info-features-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.desktop-info-features-icons i {
	line-height: 32px;
	font-size: 16px;
}

.desktop-info-features-values {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 10px;
}

.desktop-info-features-values p {
	line-height: 32px;
	font-size: 16px;
}

.desktop-prop-detail-contact-container {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
	position: sticky;
	top: 75px;
	z-index: 3;
	transform: scale(1.04);
}

.desktop-prop-detail-contact-container img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.desktop-prop-detail-contact-container .contact-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 10px;
}

.desktop-prop-detail-contact-container .contact-info a {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: grey;
	width: fit-content;
}

.desktop-prop-detail-contact-container .contact-info * {
	margin: 0;
	font-size: 15px;
}

.desktop-prop-detail-contact-container .contact-info i {
	font-size: 25px;
	margin-right: 10px;
}

.desktop-prop-detail-contact-container .contact-info .fa-whatsapp {
	color: var(--whatsapp-green);
}

.desktop-prop-detail-contact-container .contact-info .fa-envelope {
	color: var(--soft-red);
}

.desktop-prop-detail-contact-container .contact-info p:first-child {
	font-size: 18px;
	color: var(--primary-red);
	font-weight: bold;
}

.desktop-prop-detail-right-panel > div.share-container {
	margin-top: -5px;
    top: 220px;
    position: sticky;
    width: fit-content;
    padding: 2px 10px;
    background-color: var(--soft-red);
    color: white;
    float: left;
    box-shadow: none;
	z-index: 3;
	box-shadow: none;
}

.desktop-prop-detail-right-panel > div.share-container a {
	color: white;	
}

.desktop-prop-detail-right-panel > div.share-container a i {
	margin-left: 5px;
}


.desktop-prop-detail-featured {
	width: 95%;
	max-width: 1500px;
	margin: 50px auto 20px auto;
}

.desktop-prop-detail-featured h3 {
	padding: 20px 40px;
	color: white;
	width: fit-content;
	background-color: #a6a6a6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: -5px;
}

.desktop-prop-detail-featured .slider-arrows-container {
	max-width: 1650px;
}

.desktop-prop-detail-featured .gallery-properties-cards {
	background-color: var(--softgrey);
	border-radius: 10px;
	border-top-left-radius: 0;
	padding: 10px;
}

.desktop-prop-detail-featured .gallery-properties-cards-item .gallery-properties-cards-item-description-container p {
	font-size: 17px;
}

.desktop-prop-detail-featured .gallery-properties-cards-item .gallery-properties-cards-item-description-container {
	height: 180px;
}

.desktop-prop-detail-featured .gallery-properties-cards-emtpy-item {
	max-width: 20px;
}

.desktop-prop-detail-featured .gallery-properties-cards-item:last-child {
	margin-right: 20px;
}

.desktop-prop-detail-left-panel .gallery-background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	background-color: black;
	z-index: 11;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}

.desktop-prop-detail-left-panel .gallery-background.open {
	opacity: 0.8;
	pointer-events: all;
}

.left-panel-skeleton {
	width: 100%;
	height: 780px;
	border-radius: 10px;
	background-color: var(--softgrey);
	background-image: linear-gradient(90deg, var(--softgrey) 0px, rgba(229, 229, 229, 0.8) 40px, var(--softgrey) 80px);
	background-size: 100vw;
	animation: shine-left-panel-skeleton 3s infinite ease-out;
	margin-bottom: 15px;
}

@keyframes shine-left-panel-skeleton {
	0% {
		background-position: -250px;
	}
	50%,
	100% {
		background-position: 90vw;
	}
}

.desktop-prop-detail-right-panel .main-info-skeleton,
.desktop-prop-detail-right-panel .contact-skeleton,
.desktop-prop-detail-right-panel .map-skeleton {
	height: 150px;
	width: 440px;
	background-color: var(--softgrey);
	background-image: linear-gradient(90deg, var(--softgrey) 0px, rgba(229, 229, 229, 0.8) 40px, var(--softgrey) 80px);
	background-size: 200vw;
	animation: shine-desktop-skeleton 2s infinite ease-out;
	margin-bottom: 15px;
}

@keyframes shine-desktop-skeleton {
	0% {
		background-position: -50px;
	}
	50%,
	100% {
		background-position: 50vw;
	}
}

.desktop-prop-detail-right-panel .contact-skeleton {
	transform: scale(1.04);
}

.desktop-prop-detail-right-panel .map-skeleton {
	height: 300px;
	margin-top: 100px;
	z-index: 2;
}

.desktop-prop-detail-left-panel .gallery-switcher-container {
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 30px;
    margin-left: 15px;
    margin-top: 8px;
}

.desktop-prop-detail-left-panel .gallery-switcher-container i {
	padding-left: 5px;
	color: var(--soft-red);
}

.desktop-prop-detail-left-panel .gallery-switcher-container button {
	margin: 0;
	border: none;
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.3);
	background-color: white;
	border-radius: 5px;
	font-size: 16px;
	padding: 0 5px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	width: 150px;
	position: absolute;
	outline: none;
}

.desktop-prop-detail-left-panel .gallery-switcher-container button.active {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.desktop-prop-detail-left-panel .video-container {
    display: flex;
}

.desktop-prop-detail-left-panel iframe {
    width: 90%;
    margin: auto;
	height: 50vh;
	flex-grow: 0;
	flex-shrink: 0;
}
