<div id="asistente-personal">
    <section class="presentacion">
        <img class="fondo" src="../../images/familia.png" alt="">

        <div class="copy">
            <h1>Presentamos</h1>

            <img class="logo-principal" src="../../images/asistente-personal-blanco.png" alt="">

            <h2>El nuevo servicio de Duit para ayudar a las personas a tomar una de las decisiones más importantes de su vida.</h2>
        </div>

        <img class="comprar" src="../../images/comprar.png" alt="">
    </section>

    <section class="opciones">
        <h2>Un asistente personal <br> para todas tus opciones.</h2>

        <ul>
            <li>
                <img src="images/comprar.png" alt="">
                <h3>Comprar</h3>
                <p>Lorem ipsum dolor sit amet, consec- tetuer adipiscing elit, sed diam nonummy nibh euis-mod tincid</p>
            </li>
            <li>
                <img src="images/vender.png" alt="">
                <h3>Vender</h3>
                <p>Lorem ipsum dolor sit amet, consec- tetuer adipiscing elit, sed diam nonummy nibh euis-mod tincid</p>
            </li>
            <li>
                <img src="images/vender-para-comprar.png" alt="">
                <h3>Vender para Comprar</h3>
                <p>Lorem ipsum dolor sit amet, consec- tetuer adipiscing elit, sed diam nonummy nibh euis-mod tincid</p>
            </li>
        </ul>
    </section>

    <section class="servicio-integral">
        <h2>Somos el acompañamiento perfecto <br> para un mercado cada vez más complejo.</h2>
    </section>

    <section class="beneficios">
        <img src="images/planos.png" alt="">
        <div class="copy">
            <h2>Beneficios de nuestro <br> servicio personalizado.</h2>

            <ul>
                <li>
                    <h1>#1</h1>
                    <p>Reducimos el 70% del tiempo.</p>
                </li>
                <li>
                    <h1>#2</h1>
                    <p>Encontramos la propiedad ideal.</p>
                </li>
                <li>
                    <h1>#3</h1>
                    <p>Facilitamos los asuntos administrativos y jurídicos.</p>
                </li>
                <li>
                    <h1>#4</h1>
                    <p>Cerramos los mejores acuerdos para que ahorres.</p>
                </li>
                <li>
                    <h1>#5</h1>
                    <p>Te conocemos y entendemos lo que necesitás.</p>
                </li>
            </ul>
        </div>
    </section>
</div>