<div id="asistente-personal">
    <section class="presentacion">
        <img class="fondo" src="../../images/familia.png" alt="">

        <div class="copy">
            <h1>Presentamos</h1>

            <img class="logo-principal" src="../../images/asistente-personal-blanco.png" alt="">

            <h2>El nuevo servicio de Duit para ayudar a las personas a tomar una de las decisiones más importantes de su
                vida.</h2>
        </div>

        <img class="comprar" src="../../images/comprar.png" alt="">
    </section>

    <section class="opciones">
        <h2>Én qué consiste <br> nuestro servicio?</h2>

        <p>
            Nuestro servicio de Asistente Personal Inmobiliario es la solución integral desarrollada por DUIT y pensada
            para que nuestros clientes obtengan los mayores beneficios a la hora de comprar un inmueble.
        </p>

        <p>
            Un verdadero trabajo a medida que consiste en buscar las mejores propiedades que se ajusten a lo que el
            cliente está buscando, <b>resguardando al máximo sus intereses y acompañándolo en cada momento de la operación.</b>
        </p>
    </section>

    <section class="servicio-integral">
        <h2>Somos el acompañamiento perfecto <br> para un mercado cada vez más complejo.</h2>

        <div class="images-container">
            <img class="circulo" src="../../images/servicio-integral.png" alt="">

            <img data-img="caracteristicas" src="../../images/caracteristicas.png" alt="">
            <img data-img="localizacion" src="../../images/localizacion.png" alt="">
            <img data-img="gastos" src="../../images/gastos.png" alt="">
            <img data-img="informe" src="../../images/informe.png" alt="">
            <img data-img="financiacion" src="../../images/financiacion.png" alt="">
            <img data-img="precio" src="../../images/precio-correcto.png" alt="">
            <img data-img="garantias" src="../../images/garantias-legales.png" alt="">
            <img data-img="tramites" src="../../images/tramites.png" alt="">
        </div>
    </section>

    <section class="beneficios">
        <img src="images/planos.png" alt="">
        <div class="copy">
            <h2>Beneficios de nuestro <br> servicio personalizado.</h2>

            <ul>
                <li>
                    <h1>#1</h1>
                    <p>Reducimos el 70% del tiempo.</p>
                </li>
                <li>
                    <h1>#2</h1>
                    <p>Encontramos la propiedad ideal.</p>
                </li>
                <li>
                    <h1>#3</h1>
                    <p>Facilitamos los asuntos administrativos y jurídicos.</p>
                </li>
                <li>
                    <h1>#4</h1>
                    <p>Cerramos los mejores acuerdos para que ahorres.</p>
                </li>
                <li>
                    <h1>#5</h1>
                    <p>Equipo de profesionales dedicados exlusivamente.</p>
                </li>
                <li>
                    <h1>#6</h1>
                    <p>Te conocemos y entendemos lo que necesitás.</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="asistentes">
        <div class="titulo-container">
            <h3>Elegí a tu</h3>
            <img src="../../images/asistente-personal-color.png" alt="">
        </div>

        <div class="listado-asistentes">
            <div class="home-agent-card" ng-repeat="agent in asistente.agents">
                <img src="{{agent.pic}}" alt="">
                <p>{{agent.name}}</p>
                <a href="tel:{{agent.phone}}">{{agent.phone}}</a>

                <div class="home-agent-card-icons">
                    <a href="mailto:{{agent.email}}"><i class="fa fa-envelope"></i></a>
                    <a href="https://api.whatsapp.com/send?phone={{asistente.formatCellPhone(agent.phone)}}"><i
                            class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="contacto">
        <h3>Dejanos tus datos y nos comunicamos con vos.</h3>
        <form id="contactform" autocomplete="on">
            <div class="contact-form-group">
                <input class="form-control" name="name" placeholder=" " type="text" ng-model="asistente.name"
                    required />
                <label class="input-placeholder no-select" for="name"
                    ng-click="asistente.focusFormControl($event)">Nombre *</label>
            </div>

            <div class="contact-form-group">
                <input class="form-control" name="last-name" placeholder=" " type="text" ng-model="asistente.lastName"
                    required />
                <label class="input-placeholder no-select" for="last-name"
                    ng-click="asistente.focusFormControl($event)">Apellido *</label>
            </div>

            <div class="contact-form-group">
                <input class="form-control" name="email" placeholder=" " type="email" ng-model="asistente.email"
                    pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$"
                    required />
                <label class="input-placeholder no-select" for="email"
                    ng-click="asistente.focusFormControl($event)">Email *</label>
            </div>

            <div class="contact-form-group">
                <input class="form-control" name="subject" placeholder=" " type="text" ng-model="asistente.phone"
                    required />
                <label class="input-placeholder no-select" for="subject"
                    ng-click="asistente.focusFormControl($event)">Teléfono *</label>
            </div>

            <button class="button" ng-click="asistente.send()">Contactar<i class='fa fa-spinner fa-spin'
                    ng-show="asistente.sending"></i></button>

            <div class="notification success closeable" ng-show="asistente.success">
                <p>Tu consulta fue enviada con éxito.</p>
            </div>

            <div class="notification success closeable" ng-show="asistente.error">
                <p>Ha ocurrido un error al intentar enviar tu consulta. Perdon por las molestias.</p>
            </div>

        </form>
    </section>
</div>