.gallery-multiple-properties .skeleton-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 5px; 
    background-color: white;
    transform: scale(0.9);
}

.gallery-multiple-properties .skeleton-image {    
    height: 35vh;    
    border-radius: 10px;   
    background-color: var(--softgrey);
    background-image: linear-gradient(90deg, var(--softgrey) 0px, rgba(229, 229, 229, 0.8) 40px, var(--softgrey) 80px);
    background-size: 100vw;
    animation: shine-recomended 2s infinite ease-out;    
}

.gallery-multiple-properties .skeleton-lines {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;    
    align-items: center;
}

.gallery-multiple-properties .skeleton-line {    
    height: 3.5rem;
    width: 100%;     
    background-color: var(--softgrey);
    border-radius: 8px;
    margin-top: 10px;
    background-image: linear-gradient(90deg, var(--softgrey) 0px, rgba(229, 229, 229, 0.8) 40px, var(--softgrey) 80px);
    background-size: 100vw;
    animation: shine-recomended 2s infinite ease-out;  
}

@media only screen and (min-width: 1024px) {
    .gallery-multiple-properties .skeleton-container {
        height: 100%;
        flex-direction: row;
    }
    
    .gallery-multiple-properties .skeleton-image {    
        height: 100%;
        width: 65%;   
    }
    
    .gallery-multiple-properties .skeleton-lines {
        flex: 1;
        padding: 0 10px;
        align-items: flex-start;
    }
    
    .gallery-multiple-properties .skeleton-line {    
        height: 4rem;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .gallery-multiple-properties .skeleton-line:not(:nth-child(2)) {    
        width: 60%;
    }
}

@keyframes shine-recomended {
    0% {
        background-position: -20vw;
    }
    
    60%, 100% {
        background-position: 80vw;
    }   
}

.gallery-multiple-properties-slider {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;  
    align-items: flex-start;
    scroll-behavior: smooth;
}

.gallery-multiple-properties .slider-arrows-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;
    align-self: center;
    top: 25vh;
    pointer-events: none;
}

.gallery-multiple-properties .slider-arrows-container > i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 40px;    
    color: white;
    cursor: pointer;
    z-index: 2;
    background-color: rgba(0,0,0,0.25);
    border-radius: 50%;
    pointer-events: all;
}

.gallery-multiple-properties {
    height: 55vh;
    width: 100%;             
    margin: 10px 0px;    
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.gallery-multiple-properties iframe {
    width: 65%;
    height: 400px;  
}

.gallery-multiple-properties-slider a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.gallery-multiple-properties-slider a img {
    width: 100%;
    height: 40vh;
    padding: 5px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.gallery-multiple-properties .slider-info-card {
    width: calc(100% - 10px);
    height: 15vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5px;
}

.gallery-multiple-properties .slider-info-card p {
    margin: 0;
    line-height: normal;
    font-size: 15px;
    color: black;
}

.gallery-multiple-properties .slider-info-card p.info-card-price {
    font-size: 16px;
    font-weight: bold;
}

.gallery-multiple-properties-slider .desktop-slider-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;    
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
}

.gallery-multiple-properties-slider .desktop-info-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    height: 100%;
    padding: 10px 20px;
}

.desktop-slider-item-container > img {
    cursor: pointer;
}

.gallery-multiple-properties .desktop-slider .slider-info-card h3 {
    margin-top: 0;
}

.gallery-multiple-properties .desktop-slider .slider-info-card > p:first-of-type {
    font-size: 16px;
    margin: 15px 0 0 0;
}

.gallery-multiple-properties .desktop-slider .slider-info-card div p {
    text-indent: 30px;
    position: absolute;
    width: fit-content;
}

.gallery-multiple-properties .desktop-slider .slider-info-card div,
.gallery-multiple-properties .desktop-slider .slider-info-card > p {
    margin: 8px 0;
}

.gallery-multiple-properties .desktop-slider .slider-info-card .info-card-price {
    margin: 0 0 15px 0;
    font-size: 25px;
    font-weight: normal;
}

.gallery-multiple-properties .contact-globe {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
}

.gallery-multiple-properties .slider-info-card a {
    margin-top: 10px;
    opacity: 0.9;
    background-color: var(--primary-red);
    border-radius: 5px;
    padding: 2px 6px;
    color: white;
    width: fit-content;
}

@media only screen and (min-width: 1024px) {
    .gallery-multiple-properties {
        height: 50vh;
        max-height: 400px;
    }

    .gallery-multiple-properties .slider-info-card {
        padding: 0;
        height: 100%;
        justify-content: flex-start;
    }

    .gallery-multiple-properties .slider-arrows-container {
        top: auto;
    }
}