#listing
  fieldset
    border: none
    border-top: 1px solid #c8001e
  legend
    text-align: center
    padding: 0 1em
    margin-bottom: 18px
  .search
    width: 100%
  .no-results
    height: 50vh