footer {
    background-color: var(--primary-red);
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
}

footer > div {
    width: 100%;
    padding: 10px;
    max-width: 750px;
}

footer .footer-logos-container {
    display: flex;
    flex-direction: row;
    height: auto;
}

footer .footer-logos-container div {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .footer-copy {
    border-radius: 10px;
    max-width: 1000px;
    padding-bottom: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
}

footer .footer-copy p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: #f3eed5;
    text-align: justify;
}

footer .footer-text {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-text > * {
    width: fit-content;
    line-height: normal;
    color: #f3eed5;
    font-size: 12px;
    margin: 5px;
}

img.footer-logo {
    max-height: 55px;
    width: auto;
}

img.by-ha {
    max-height: 25px;
    width: auto;
    margin-top: 8px;
}


@media only screen and (min-width: 1024px) {
    footer {
        display: flex;
        max-width: 1300px;
        margin: 25px auto;
        border-radius: 5px;
    }

    footer .footer-copy {
        padding-bottom: 0;
    }

    footer .footer-copy p {
        font-size: 16px;
        line-height: 25px;
    }

    .footer-text > * {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px) {
    footer {
        padding-bottom: 100px;
    }
}
