<!-- Searcher Section -->
<section id="home-search-bar" ui-router-styles  class="parallax" data-background="images/parallax2.jpg" data-color="#36383e"
data-img-width="2500" data-img-height="1600" ng-controller="homeSearchController as homeSearch">

<div class="parallax-content">

  <!-- Main Search Container -->
  <div class="main-search-container">
    <h2>Encontrá el <strong>lugar</strong>, construí tu <strong>historia</strong>.</h2> 
    
    <!-- Mobile Search -->
    <form class="main-search-form">
      
      <!-- Type -->
      <div class="search-type">
        <label class="active"><input class="first-tab operationType" ng-model="homeSearch.operationType" name="tab" checked="checked" type="radio" value="2">Alquiler</label>
        <label><input class="operationType" ng-model="homeSearch.operationType" name="tab" type="radio" value="1">Venta</label>
      </div>

      <!-- Property Type -->
      <div class="property-type-dropdown-container" ng-class="{' warning': homeSearch.isPropertyPlaceholderWarningActive}" tabindex="-1" ng-blur="homeSearch.isPropertyTypeOpen = false;">
        <a class="property-type" ng-click="homeSearch.togglePropertyTypeDropdown()" ng-class="{' open': homeSearch.isPropertyTypeOpen}">{{homeSearch.propertyType.name}} <i class="fas fa-angle-down"></i></a>                      
        <ul class="col-md-5" ng-class="{' open': homeSearch.isPropertyTypeOpen}">
          <li ng-repeat="type in homeSearch.propertiesTypes track by type.id" ng-click="homeSearch.updateTypeChosen(type)" ng-show="!type.showOnlyInOperationType || type.showOnlyInOperationType == homeSearch.operationType">{{type.name}}</li>                        
        </ul>
      </div>
      
      <button class="button" ng-click="homeSearch.findProperties()">Buscar <i class="fas fa-search"></i></button>

    </form>
    <!-- Mobile Search -->

  </div>
  <!-- Main Search Container / End -->

</div>

</section>
<!-- Searcher Section End-->

<!-- Featured Section -->
<section id="home-featured">

<div class="home-featured-container">

  <div class="home-featured-title" id="home-featured-anchor">
    <h5>Duit 360&deg;</h5>
  </div>

  <!-- 360 -->
  <div class="home-featured-section">
    <gallery-multiple-properties items="home.featured360Props" show-gallery="home.featured360PropsReady"></gallery-properties-generic>
  </div>
  <!-- Featured End -->

</div>

</section>
<!-- Featured Section End -->
  
<!-- Services Section -->
<section id="home-services">

<div class="home-services-container">
  <h3>Servicios</h3>

  <div class="home-services-imgs">
    <div ng-repeat="service in home.services" class="home-services-img-container">
      <a ng-click="home.goToSection(service.goTo.page, service.goTo.section); service.action()"><img src="{{service.imgSrc}}"></a>
    </div>
  </div>
</div>

</section>
<!-- Services Section End -->

<!-- Assesors Section -->
<section id="home-agents" class="home-agents">

<div class="home-agents-container">
  <div class="home-agents-title">
    <img src="/images/consejeros.png" alt="">
  </div>

  <div class="home-agents-description">
    <p>
      En Duit contamos con más de 10 años de experiencia en el mercado inmobiliario, somos personas con un mismo sueño, con una misma forma de ver la vida, de superarnos, de dar lo mejor.
      <br><br>
      Comprendemos la importancia y trascendencia que tiene en la vida de las personas, la compra o alquiler de una vivienda, local comercial o cualquier otro tipo de transacción inmobiliaria.
      <br><br>
      Generamos vínculos a largo plazo, y trabajamos enfocados en lograr que el beneficio sea para todos.
      <br><br>
      Se trata de identidad, de valores, de una forma de hacer las cosas, y aconsejar, es la única que nos representa.
    </p>
  </div>

  <div class="home-agent-card" ng-repeat="agent in home.agents">
    <img src="{{agent.pic}}" alt="">
    <p>{{agent.name}}</p>
    <a href="tel:{{agent.phone}}">{{agent.phone}}</a>

    <div class="home-agent-card-icons">
      <a href="mailto:{{agent.email}}"><i class="fa fa-envelope"></i></a>
      <a href="https://api.whatsapp.com/send?phone={{home.formatCellPhone(agent.phone)}}"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
</div>

</section>
<!-- Assesors Section End -->

<!-- Contact Section -->
<section class="home-contact-container">

<!-- Contact Form Section -->
<section id="home-contact">
  <h3>Dejanos tu consulta</h3>

  <form ng-controller="contactFormController as contactForm" id="contactform" autocomplete="on">
    <div class="contact-form-group">
      <input class="form-control" name="name" placeholder=" " type="text" ng-model="contactForm.name" required="required" />
      <label class="input-placeholder no-select" for="name" ng-click="contactForm.focusFormControl($event)">Nombre *</label>
    </div>

    <div class="contact-form-group">
      <input class="form-control" name="last-name" placeholder=" " type="text" ng-model="contactForm.lastName" />
      <label class="input-placeholder no-select" for="last-name" ng-click="contactForm.focusFormControl($event)">Apellido</label>
    </div>

    <div class="contact-form-group">
      <input class="form-control" name="email" placeholder=" " type="email" ng-model="contactForm.email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" required="required" />
      <label class="input-placeholder no-select" for="email" ng-click="contactForm.focusFormControl($event)">Email *</label>
    </div>

    <div class="contact-form-group">
      <input class="form-control" name="subject" placeholder=" " type="text" ng-model="contactForm.phone" />
      <label class="input-placeholder no-select" for="subject" ng-click="contactForm.focusFormControl($event)">Teléfono</label>
    </div>

    <div class="contact-form-group">
      <textarea class="form-control" name="message" placeholder=" " cols="40" rows="3" ng-model="contactForm.message" spellcheck="true" required="required"></textarea>
      <label class="input-placeholder textarea-placeholder no-select" for="message" ng-click="contactForm.focusFormControl($event)">Mensaje *</label>
    </div>

    <button class="button" ng-click="contactForm.send()">Contactar<i class='fa fa-spinner fa-spin' ng-show="contactForm.sending"></i></button>

    <div class="notification success closeable" ng-show="contactForm.success">
      <p>Tu consulta fue enviada con éxito.</p>
    </div>

    <div class="notification success closeable" ng-show="contactForm.error">
      <p>Ha ocurrido un error al intentar enviar tu consulta. Perdon por las molestias.</p>
    </div>

  </form>
</section>
<!-- Contact Form Section End -->

<!-- Contact Cards Section -->
<section id="home-contact-cards" class="hidden-on-mobile">
  <div class="home-contact-card">
    <img src="/images/duit-rojo-horizontal.png" alt="">
    <div class="home-contact-card-text">
      <p>San Luis 145, 1° Oficina H</p>
      <p>Barrio Nueva Córdoba</p>
      <p>Córdoba - Argentina</p>
      <a href="tel:+5493512463530">+54 9 351 2463530</a>
    </div>
  </div>
</section>
<!-- Contact Cards Section End -->

</section>
<!-- Contact Section End -->

<!-- Flying Contact Globe  -->
<ng-container id="home-contact-globe" ng-cloak>
<contact-globe is-open="home.isContactGlobeOpen" main-img="'images/whatsapp-duit.png'" show-main-img-box-shadow="false"
  title="home.contactGlobeTitle" actions="home.contactGlobeActions" toggle-modal="home.toggleContactModal()">
</contact-globe>
</ng-container>
<!-- Flying Contact Globe End -->