<footer>
  <div class="footer-copy">
    <p>Sabemos que digan lo que digan, no hay mejor lugar que ese donde podés escribir tu propia historia,
      y por eso estamos con vos para darle la bienvenida a los mejores momentos que vas a vivir.</p>
  </div>
  <div class="footer-logos-container">
    <div class="footer-logo-container">
      <img class="footer-logo" src="images/duit_id_blanco_horizontal.png">
    </div>
    <div class="footer-logo-container">
      <img class="by-ha" src="images/byha.png">
    </div>
  </div>
  <div class="footer-text">
    <p>San Luis 145, 1° Oficina H</p>
    <p>Barrio Nueva Córdoba</p>
    <p>Córdoba - Argentina</p>
    <a href="tel:+5493512463530">+54 9 351 2463530</a>
  </div>
</footer>