<div id="footer" ng-controller='footer' class="footer-shadow">
  <!-- Main -->
  <div class="container">
    <div class="row">
      <div class="footer-container">
        <div class="footer-logo-container">
          <img class="footer-logo" src="images/duit_id_blanco_horizontal.png" alt="">
        </div>
        <div class="footer-text">
            <span>San Luis 145, 1° Oficina H</span> <br>
            <span>Barrio Nueva Córdoba</span> <br>
            <span>Córdoba - Argentina</span> <br>
            <span>+54 9 351 2463530 </span> <br>
        </div>
        <!--
        <div class="footer-dialog">
          <img class="footer-logo" src="images/dialog.png" alt="">
        </div>
        -->
    </div>
  </div>

</div>
