<div id="footer" ng-controller='footer' class="footer-shadow">
  <!-- Main -->
  <div class="container">
    <div class="row">
      <div class="footer-container">
        <div class="footer-logo-container">
          <img class="footer-logo" src="images/duit_id_blanco_horizontal.png" alt="">
        </div>
        <div class="footer-text">
          <span>San Luis 145, 1° Oficina H</span>
          <span>Barrio Nueva Córdoba</span>
          <span>Córdoba - Argentina</span>
          <a href="tel:+5493512463530">54 9 351 2463530</a>
        </div>
        <div class="footer-dialog">
          <img class="footer-logo" src="images/byha.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
