#header-container .fav-link {
  cursor: pointer;
}
#header-container .fav-link i {
  color: #ffcf00;
}
#header-container .fav-link:hover {
  background-color: transparent !important;
}

#mobile-header {
  background-color: var(--red);
  width: 100vw;
  height: 10vh;      
}

#mobile-header > div:first-child.d-flex {
  height: 100%;
}

#hamburguer-menu {
  position: relative;
  width: 50px;
  height: 3px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.hamburguer-menu-item {
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.hamburguer-menu-item::before,
.hamburguer-menu-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.hamburguer-menu-item::before {
  transform: translateY(-16px);
}

.hamburguer-menu-item::after {
  transform: translateY(16px);
}

/* ANIMATION */
#hamburguer-menu.open .hamburguer-menu-item {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

#hamburguer-menu.open .hamburguer-menu-item::before {
  transform: rotate(45deg) translate(35px, -35px);
}

#hamburguer-menu.open .hamburguer-menu-item::after {
  transform: rotate(-45deg) translate(35px, 35px);
}