<header id="header-container" class="header-style-2">

  <!-- Mobile Header -->
  <div id="mobile-header" class="hidden-on-desktop" ng-controller="mobile-header" ng-class="{' open' : isHamburgOpen}">    
    <div class="d-flex flex-column">

      <!-- Main Header -->
      <div class="mobile-main-header d-flex justify-content-between flex-row align-items-start">        
        
        <!-- Logo -->
        <div id="logo" class="margin-left-20 margin-top-5">
          <a href="index.html"><img src="/images/duit_id_blanco.png" alt=""></a>          
        </div>

        <!-- Hamburger Menu -->  
        <div id="hamburguer-menu" class="d-flex justify-content-between flex-column align-items-center margin-right-30 margin-top-15"
          ng-click="toggleMenu()">
          <div class="hamburguer-menu-item"></div>
        </div>                
      </div>

      <!-- Arrow bellow Hamburguer Menu -->
      <div class="mobile-arrow-header d-flex flex-row-reverse">
        <div class="mobile-arrow-header-item"></div>
        <div class="mobile-arrow-header-item"></div>  
        <div class="mobile-arrow-header-item"></div> 
        <div class="mobile-arrow-header-item"></div>         
      </div> 

    </div>     
    
    <!-- Mobile Modal Nav -->
    <div id="mobile-modal-nav" ng-class="{' open: isHamburgOpen}">
      <div class="mobile-modal-container" >
        <ul>
          <li>
            <i class="fa fa-circle"></i>
            <a ng-click="setActive('home'); toggleMenu()" ui-sref="home">Home</a>
          </li>          
          <li>
            <i class="fa fa-circle"></i>
            <a ng-click="setActive('agents'); toggleMenu()" ui-sref="agents">Asesores</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a ng-click="setActive('developments'); toggleMenu()" ui-sref="developments">Emprendimientos</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a ng-click="setActive('contactUs'); toggleMenu()" ui-sref="contactUs">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="mobile-modal-background" ng-click="toggleMenu()"></div>
    </div>    
  </div>      
  <!-- Mobile Header / End -->

  <!-- Desktop Header -->
  <div id="header" class="hidden-on-mobile">
    <div class="container">
      
      <!-- Left Side Desktop Content -->
      <div class="left-side">
        
        <!-- Logo -->
        <div id="logo" class="margin-top-10">
          <a href="index.html"><img src="/images/logo.png" alt=""></a>

          <!-- Logo for Sticky Header -->
          <a href="index.html" class="sticky-logo"><img src="/images/logo_cropped.png" alt=""></a>          
        </div>
        
      </div>
      <!-- Left Side Desktop Content / End -->      

      <!-- Right Side Content / End -->
      <div class="right-side hidden-on-mobile">
        <ul class="header-widget">
          <li>
            <i class="sl sl-icon-call-in"></i>
            <div class="widget-content">
              <span class="title">¿Consultas?</span>
              <span class="data">(351) 2463530 </span>
            </div>
          </li>

          <li>
            <i class="sl sl-icon-location"></i>
            <div class="widget-content">
              <span class="title">Nuestra oficina</span>
              <span class="data">San Luis 145, 1° Oficina H</span>
            </div>
          </li>

          <!-- Uncomment when accounts was deployed on production -->
          <!-- <li ng-controller="headerLogin">
            <a ng-if="!loggedIn()" ui-sref="login" class="sign-in"><i class="fa fa-user"></i> Ingresar / Registrarse </a>
            <a ng-if="loggedIn()" class="sign-in"><i class="fa fa-user"></i> {{Meteor.user().username}}<br />
              <a ng-if="loggedIn()" href="" ng-click="logOut()" class="right">Salir</a>
            </a>
          </li> -->

          <!-- <li class="with-btn"><a href="submit-property.html" class="button border">Submit Property</a></li> -->
        </ul>
      </div>
      <!-- Right Side Content / End -->

    </div>    

    <!-- Main Navigation -->
    <nav id="navigation" class="style-2" ng-controller="navigation">
      <div class="container">
          <ul id="responsive">
            <li><a ng-click="setActive('home')" ng-class="{'current' : activeMenu === 'home'}" ui-sref="home">Home</a></li>
            <!-- <li><a href="#nosotros" >Nosotros</a></li> -->
            <li><a ng-click="setActive('agents')" ng-class="{'current' : activeMenu === 'agents'}" ui-sref="agents" >Asesores</a>
            </li>
            <li><a ng-click="setActive('developments')" ng-class="{'current' : activeMenu === 'developments'}" ui-sref="developments">Emprendimientos</a>
            </li>
            <li><a ng-click="setActive('contactUs')" ng-class="{'current' : activeMenu === 'contactUs'}" ui-sref="contactUs">Contacto</a>
            </li>
            <li class="fav-link pull-right" ng-if="favorites.props.length > 0">
              <a ui-sref="favorites">{{favorites.props.length}} <i class="fa fa-star fa-lg"></i></a>
            </li>
          </ul>
      </div>
    </nav>
    <div class="clearfix"></div>
    <!-- Main Navigation / End -->
  </div>
  <!-- Desktop Header / End -->

</header>
<div class="clearfix"></div>