<div ng-controller="devsListingController as devsListing" id="devsListing" class="hidden-on-mobile">

  <!-- Content -->
  <div class="container margin-top-50" >

    <div class='spinner' ng-include="'/views/common/spinner.html'" ng-hide="devsListing.apiReady"></div>

    <div class="col-md-12" ng-show="devsListing.apiReady">

      <!-- Sorting / Layout Switcher -->
      <div class="row margin-bottom-15">

        <div class="col-md-6">
          <!-- Sort by -->
          <div class="sort-by">
            <label>{{devsListing.resultsCount}} Emprendimientos encontrados</label>
          </div>
        </div>

        <div class="col-md-6">
          <!-- Layout Switcher -->
          <div class="layout-switcher">
            <a href="#" class="grid-three"><i class="fa fa-th"></i></a>
            <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
            <a href="#" class="list"><i class="fa fa-th-list"></i></a>
          </div>
        </div>

      </div>
      <!-- Sorting / Layout Switcher End -->


      <!-- Listings -->
      <div class="listings-container grid-layout-three" infinite-scroll="devsListing.loadMoreProps()" infinite-scroll-distance="2" infinite-scroll-immediate-check='false'>
        
        <!-- Listing Item -->
        <div class="listing-item " ng-repeat="d in devsListing.results">

          <a class="listing-img-container" href="/#!/development/{{d.id}}">

            <div class="listing-carousel">
              <div ng-repeat="photo in d.photos"><img src="{{photo.image}}" alt="" ></div>
            </div>
          </a>
          
          <div class="listing-content">

            <div class="listing-title">
              <h4><a ui-sref="development({devId: d.id})">{{d.name}}</a></h4>              
              <i class="fa fa-map-marker"></i>
              {{d.location.name}}
              <a ui-sref="property({propertyId: d.id})" class="details button border">Detalles</a>
            </div>

          </div>

        </div>
        <!-- Listing Item / End -->

      </div>
      <!-- Listings Container / End -->

      <div class="clearfix"></div>
      
    </div>

    <div class="row fullwidth-layout text-center no-results" ng-hide="devsListing.ifResults">
      <i class="fa fa-5x fa-frown-o"></i>
      <h3>¡Ups! No hay nada aquí. ¡<a href="#!/contactUs">Contactános</a> para ver mas opciones!</h3>
    </div> 
    
  </div>
  <!-- Content End -->

</div>

<div ng-controller="devsListingController as devsListing" id="mobile-dev-listing" class="hidden-on-desktop">
  
    <!-- Skeleton Loader -->
    <section class="skeleton-container" ng-show="!devsListing.apiReady" ng-repeat="x in [].constructor(2) track by $index">
      <div class="skeleton-image"></div>
      <div class="skeleton-lines">
        <div ng-repeat="x in [].constructor(2) track by $index" class="skeleton-line"></div>            
      </div>
    </section>
    <!-- Skeleton Loader End -->

  <div ng-show="devsListing.apiReady">

    <h4 class="dev-listing-found-title">{{devsListing.resultsCount}} Emprendimientos encontrados</h4>

    <!-- Listing -->
    <div class="listings-container grid-layout-three" infinite-scroll="devsListing.loadMoreProps()" infinite-scroll-distance="2" infinite-scroll-immediate-check='false'>
      
      <!-- Listing Item -->
      <div class="listing-item margin-10" ng-repeat="development in devsListing.resultsMapped">

        <gallery-single-property item="development" show-widgets="false" show-gallery="true" gallery-height="'40vh'"></gallery-single-property>
        
        <div class="listing-content">

          <div class="listing-title">
            <h4><a ui-sref="development({devId: development.id})">{{development.name}}</a></h4>              
            <i class="fa fa-map-marker"></i>
            {{development.location.name}}
          </div>

        </div>

      </div>
      <!-- Listing Item End -->

    </div>
    <!-- Listings Container End -->

    <div class="clearfix"></div>
    
  </div>

  <div class="row fullwidth-layout text-center no-results" ng-hide="devsListing.ifResults">
    <i class="fa fa-5x fa-frown-o"></i>
    <h3>¡Ups! No hay nada aquí. ¡<a href="#!/contactUs">Contactános</a> para ver mas opciones!</h3>
  </div> 

</div>